@model CartViewModel
@{
    ViewData["Title"] = "Cart";
}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">

                    @* if (!Model.ListItems.Any())   if the list is empty    *@
                    @if (!Model.ListItems.Any())
                    {


                        <table>

                            <tbody>



                                <tr>

                                    <td></td>
                                    <td></td>
                                    <td class="cart__product__item">
                                        <div class="cart__product__item__title">

                                            <h3> There are no items in this cart.</h3>

                                        </div>
                                    </td>
                                    <td></td>

                                </tr>


                            </tbody>
                        </table>


                    }
                    else
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>



                                @foreach (var item in Model.ListItems)
                                {
                                    <tr>
                                        <td class="cart__product__item">
                                            <img src="@string.Format("/Uploads/{0}",item.ImageName)" width="90" height="90" alt="">
                                            <div class="cart__product__item__title">
                                                <h6>@item.ItemName</h6>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">@item.Price</td>
                                        <td class="cart__quantity">
                                            <div class="pro-qty">
                                                <input id="my" class="cartInput" type="number" value="@item.Qty" data-price="@item.Price" onkeyup="ChangeQty(this);">

                                            </div>
                                        </td>
                                        <td class="cart__total">@item.Total</td>
                                        <td class="cart__close"> <a asp-action="RemoveItem" asp-route-id="@item.ItemId">  <span class="icon_close"></span> </a> </td>
                                    </tr>
                                }










                            </tbody>
                        </table>
                    }







                </div>
            </div>
        </div>
        @* if (!Model.ListItems.Any())   if the list is empty    *@
        @if (!Model.ListItems.Any())
        {

        }
        else
        {
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="#">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li id="total1">Subtotal <span>@Model.Total</span></li>
                            <li id="total2">Total <span>@Model.Total</span></li>
                        </ul>
                        <a asp-controller="Users" asp-action="Login" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        }








    </div>
</section>
<!-- Shop Cart Section End -->
<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@*@ ashion_shop*@</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@*@ ashion_shop*@</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@*@ ashion_shop*@</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@*@ ashion_shop*@</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@*@ ashion_shop*@</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@*@ ashion_shop*@</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

@section Scripts
{
    <script>
        //  $('.pro-qty').prev.html = "&&&&&";


        $('.qtybtn').on('click', function () {


            let price = parseFloat($(".cartInput").data("price"));

            $(".cartInput").closest("td").next("td").html(price * parseFloat($(".cartInput").val()));
            UpdateTotals();

        });




        function ChangeQty(e) {
            console.log("enter functiom");
            let price = parseFloat($(e).data("price"));
            console.log(price);
            $(e).closest("td").next("td").html(price * parseFloat($(e).val()));
            UpdateTotals();
        }
        function UpdateTotals() {
            let total = 0;
            $(".cartInput").each(function (index, element) {
                total = total + parseFloat($(element).val()) * parseFloat($(element).data("price"));
            });
            $("#total1").html(total);
            $("#total2").html(total);
            $("#total3").html(total);
        }


    </script>

}
